# Dependency directories
node_modules/
Client/node_modules/
server/node_modules/

# Environment variables
.env
server/.env
Client/.env

# MacOS files
.DS_Store

# Build directories
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
